<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ACM.DL.Properties.Settings.ACMConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=ACM;Integrated Security=True" />
    </connectionStrings>
</configuration>
